@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:ital,wght@0,400;0,500;0,900;1,700&display=swap");

:root {
  --iriscolor: #4d5ae5;
  --navyblue: #2e2f42;
  --slate: #434455;
  --ocean: #2196f3;
  --white: #fff;
  --cloud: #f4f4fd;
  --blue: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--slate);
}
.logo-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  font-family: "Raleway", sans-serif;
}

.logo {
  color: var(--iriscolor);
}

.studio {
  color: var(--navyblue);
}

.contacts-menu .item {
  color: var(--slate);
  text-decoration: none;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.bg-hero {
  background-color: var(--navyblue);
}

.hero-title {
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.04em;
  color: var(--white);
}

.bg-team {
  background-color: var(--cloud);
}

.nav-menu .page {
  font-weight: 500;
  color: var(--navyblue);
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.list {
  list-style-type: none;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .item:hover,
.contacts-menu .item:focus {
  color: var(--ocean);
}

.button {
  border-color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.button.primary {
  background-color: var(--iriscolor);
  color: white;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.button.primary:hover,
.button.primary:focus,
.button.primary.current {
  background-color: var(--ocean);
}

.button.filter {
  background: var(--cloud);
  color: var(--iriscolor);
  font-weight: 500;
  line-height: 1.62;
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--ocean);
  color: var(--cloud);
}

.project .name {
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--navyblue);
}

.project .type {
  color: var(--slate);
  font-weight: 400;
  line-height: 1.87;
}
.project {
  text-decoration: none;
}
.section-title {
  font-size: 36px;
  line-height: 1.17;
  color: var(--navyblue);
  text-align: center;
}

.benefits .title {
  font-size: 20px;
  font-weight: 500;
  color: var(--navyblue);
}

.benefits .description {
  color: var(--slate);
  line-height: 1.71;
  font-size: 16px;
  font-weight: 400;
}

.team .name {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.team .position {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
}

.page-footer.bg-footer {
  background-color: var(--navyblue);
}

.studio-footer {
  color: var(--cloud);
}

.footer-description {
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
}
